<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Main Page</title>
    <style>
        table, th, td {
            border: 2px solid black;
            border-collapse: collapse;
        }
        table {
            width: 100%;
        }
    </style>
</head>
<body>
    <form action="http://127.0.0.1:5000/" method="POST">
        <label for="msv">MSV</label><br>
        <input type="text" name="msv" id="msv">
        <input type="submit" value="Search">
    </form>
    <br>
    <h2>{{ hello }}</h2>
    <br>
    <h2>{{ timestamp }}</h2>
    <br>
    <table>
        <tr>
            <th colspan="2">Thời khóa biểu</th>
        </tr>
        <tr>
            <th>Tiết</th>
            <th>Môn học</th>
        </tr>
        {% for i in range(12) %}
        <tr>
            <td>{{ i + 1 }}</td>
            <td>{{ arr[curWeek][i][curDay] }}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>