<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Main Page</title>
</head>
<body>
    <br>
    <form action="http://127.0.0.1:5000/" method="POST">
        <label for="startPlace">From </label>
        <select name="startPlace">
            <option value=""></option>
            {% for i in showedPlaceList: %}
            <option value={{i}}>{{placeNames[i]}}</option>
            {% endfor %}
        </select>
        <label for="endPlace">To </label>
        <select name="endPlace">
            <option value=""></option>
            {% for i in showedPlaceList: %}
            <option value={{i}}>{{placeNames[i]}}</option>
            {% endfor %}
        </select>
        <br><br>
        <input type="submit" value="Search">
    </form>
    <br>
    <p>Route is from {{placeNames[idStartPlace]}} to {{placeNames[idEndPlace]}}</p>
    <p>Distance is {{distance}}</p>
    <p>Tracking order: </p>
    <p>{{placeNames[idStartPlace]}} =>
        {% for id in trackingList:%}
            {% if id > 0: %}
                {{id}} =>
            {% endif %}
        {% endfor %}
        {{placeNames[idEndPlace]}}
    </p>
    <br>

</body>
</html>