.leaflet-tooltip {
    padding: 0;
    margin: 0;
}

html,
body,
#map {
    height: 100%;
    width: 100%;
}

.leaflet-tooltip.my-labels {
    background-color: transparent;
    border: transparent;
    color: white;
    box-shadow: none;
    font-size: 10px;
    font-weight: bold;
    text-shadow: 2px 0 #000, -2px 0 #000, 0 2px #000, 0 -2px #000,
        1px 1px #000, -1px -1px #000, 1px -1px #000, -1px 1px #000;
}

::-webkit-scrollbar {
    width: 0px;
}

td {
    cursor: pointer;
}

#info_text * {
    background-color: transparent;
    color: white;
    text-shadow: 2px 0 #000, -2px 0 #000, 0 2px #000, 0 -2px #000,
        1px 1px #000, -1px -1px #000, 1px -1px #000, -1px 1px #000;
}

#startPlace,
#endPlace {
    border: 0;
    font-size: large;
}

.input {
  font-family: inherit;
  font-size: inherit;
  padding: 1px 6px;
}

.input-wrap {
  position: relative;
}
.input-wrap .input {
  position: absolute;
  width: 100%;
  left: 0;
}
.width-machine {
  padding: 0 2.3rem;
}

