* {
  box-sizing: border-box;
}

html,
body,
#map {
    height: 100%;
    width: 100%;
}

#container {
    display: flex;
    min-height: 100vh;
}

#map-container {
    width: 79%;
    min-width: 300px;
    min-height: 50%;
}

#calendar-container {
    min-width: 300px;
    flex: 1;
}

.dragbar {
  padding: 4px;
  cursor: col-resize;
  background-color: silver;
}

.leaflet-tooltip.my-labels {
    background-color: transparent;
    border: transparent;
    color: white;
    box-shadow: none;
    font-size: 10px;
    font-weight: bold;
    text-shadow: 2px 0 #000, -2px 0 #000, 0 2px #000, 0 -2px #000,
        1px 1px #000, -1px -1px #000, 1px -1px #000, -1px 1px #000;
}

::-webkit-scrollbar {
    width: 0px;
}

#info_text * {
    background-color: transparent;
    color: white;
    padding: 0;
    text-shadow: 2px 0 #000, -2px 0 #000, 0 2px #000, 0 -2px #000,
        1px 1px #000, -1px -1px #000, 1px -1px #000, -1px 1px #000;
}

#info_text span {
    font-size: 32px;
    margin-right: 5px;
}

#startPlace,
#endPlace {
    position: relative;
    top: -8px;
    border: 0;
    font-size: large;
}

.widget-code {
  display: block;
  position: absolute;
  font-size: 36px;
  left: -1px;
  top: 3px;
}

.leaflet-touch .leaflet-bar button {
  width: 44px;
  height: 44px;
}

.form-popup {
  display: none;
  position: absolute;
  width: 100%;
  bottom: 38px;
  right: 0px;
  border: 3px solid #f1f1f1;
  z-index: 10;
}

.form-container {
  padding: 10px;
  background-color: white;
}

.form-container input[type=text], .form-container input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

.form-container input[type=text]:focus, .form-container input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

.form-container .btn {
  background-color: #04AA6D;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}

.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}

.fc-header-toolbar {
  display: block !important; 
  padding: 16px;
} 

.leaflet-top {
  display: flex !important; 
}